{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block footer %}

	<script>
		$.extend( $.validator.messages, {
			required: "To pole jest wymagane.",
			remote: "Proszę o wypełnienie tego pola.",
			email: "Proszę o podanie prawidłowego adresu email.",
			url: "Proszę o podanie prawidłowego URL.",
			date: "Proszę o podanie prawidłowej daty.",
			dateISO: "Proszę o podanie prawidłowej daty (ISO).",
			number: "Proszę o podanie prawidłowej liczby.",
			digits: "Proszę o podanie samych cyfr.",
			creditcard: "Proszę o podanie prawidłowej karty kredytowej.",
			equalTo: "Proszę o podanie tej samej wartości ponownie.",
			extension: "Proszę o podanie wartości z prawidłowym rozszerzeniem.",
			nipPL: "Proszę o podanie prawidłowego numeru NIP.",
			phonePL: "Proszę o podanie prawidłowego numeru telefonu",
			maxlength: $.validator.format( "Proszę o podanie nie więcej niż {0} znaków." ),
			minlength: $.validator.format( "Proszę o podanie przynajmniej {0} znaków." ),
			rangelength: $.validator.format( "Proszę o podanie wartości o długości od {0} do {1} znaków." ),
			range: $.validator.format( "Proszę o podanie wartości z przedziału od {0} do {1}." ),
			max: $.validator.format( "Proszę o podanie wartości mniejszej bądź równej {0}." ),
			min: $.validator.format( "Proszę o podanie wartości większej bądź równej {0}." ),
			pattern: $.validator.format( "Pole zawiera niedozwolone znaki." )
		} );
	
		$.validator.addMethod('validPassword',
			function(value, element, param){
				if(value != ''){
					if(value.match(/.*[a-z]+.*/i) == null){
						return false;
					}
					if(value.match(/.*\d+.*/) == null){
						return false;
					}
				}
				
				return true;
			},
			'Hasło musi zawierać przynajmniej jedną literę i jedną cyfrę.'
		);
	
		$(document).ready(function(){
		
			$('#formSignup').validate({
				lang: 'pl',
				rules: {
					login: {
						required: true,
						remote: '/account/validate-login'
					},
					email: {
						required: true,
						email: true,
						remote: '/account/validate-email'
					},
					password1: {
						required: true,
						minlength: 8,
						validPassword: true
					},
					password2: {
						equalTo: '#inputPassword1'
					}
				},
				messages: {
					login: {
						remote: 'Podany login jest już zajęty.'
					},
					email: {
						remote: 'Istnieje już konto przypisane do podanego adresu e-mail.'
					}
				}
			});
		});
	
	</script>
	
{% endblock %}

{% block body %}

    <h1>Rejestracja</h1>
	
	{% if user.errors is not empty %}
		<p>Błędy:</p>
		<ul>
			{% for error in user.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	<form method="post" action="/signup/create" id="formSignup">
		<div class="form-group">
			<label for="inputLogin">Login:</label>
			<input type="text" class="form-control" id="inputLogin" name="login" placeholder="..." value="{{ user.login }}" required>
		</div>
		
		<div class="form-group">
			<label for="inputEmail1">E-mail:</label>
			<input type="email" class="form-control" id="inputEmail1" name="email" placeholder="..." value="{{ user.email }}" required>					
		</div>
		
		<div class="form-group">
			<label for="inputPassword1">Hasło:</label>
			<input type="password" class="form-control" id="inputPassword1" name="password1" placeholder="..." value="" required>					
		</div>
		
		<div class="form-group">
			<label for="inputPassword2">Powtórz hasło:</label>
			<input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="..." value="" required>
		</div>
		
		<div class="g-recaptcha form-group" data-sitekey="6LcrPLEUAAAAAPkvodHO2fcpVfAe7dr3faFhSLP6"></div>	
		
		<button type="submit" class="btn btn-primary mt-3">Zarejestruj się</button>
	</form>

{% endblock %}
